/* MARKETA CSS - individual portfolio */


/* colors, line heights a dalsi casto pouzivane, opakujici se nastaveni */
/* font je jednotny a nastaveny v hlavni normalize.css casti */
:root {
 
  /* colors - hue, saturation, lightness */
  --primary-color: #4a4a4a;
  --primary-color-alt: #575757;
  --linear-gradient: linear-gradient(
    54deg,
    rgba(45, 45, 45, 0.95) 34%,
    rgba(45, 45, 45, 0.95)
  );

  --text-color-alt: #999;
  --bg-color: #fff;
  --bg-color-alt: #e9ecef;
  --border-color: #f1f1f1;

  /* font size */
  --fs-h2: 1.75rem;
  --fs-lg: 1.125rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  /* font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

}

/* zakladni nastaveni pro individual portfolio */
h1
 {
  font-weight: var(--bold);
}
/* 
img {
    max-width: 90%;
    height: auto;
}  */

/* MAIN BOX */

.main {
    max-width: 1140px;
    height: auto;
    margin: auto;
}

.home {
  padding-left: 0.9rem;
  padding-right: 0.9rem; 
  text-align: justify;
  hyphens: none;
}

.grid {
  display: grid;
}

/* SECTION - content - text */
.section {
  padding-top: 3.75rem;
  padding-bottom: .75rem; 
}

.section__title
 {
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-bottom: 1.12em;
 
}

/* HOME */
.home {
  background: url(./img/background.jpg);
  background-size: cover;
  background-position: 100%;
  padding-left: 5.5rem;
  margin-bottom: 3.5rem;
  position: relative;
}

.home__box {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
} 

.home__data {
  font-size: 1rem;
  margin-top: 2.75rem;
  margin-right: 2rem;
}

.home__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(96 96 96 / 34%); 
}

.home__name {
  font-size: var(--fs-h2);
  line-height: 1.14em;
  margin: 0.9rem 0 0.23em;
}

.home__socials {
  margin: 1.25rem 0 2.2rem;
  margin-bottom: 12em ;
}

.home__social-link {
  font-size: 1.875rem;
  line-height: 1.36em;
  padding: 0 1rem;
}


@media (max-width: 767px) {
    .main {
      padding: 1rem;
    }
  
    .home {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: 2rem;
    }
  
    .home__box {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  
    .home__img {
      transform: translateY(0);
    }
  }
  

  
  


